@font-face {
    font-family: 'PremierInn_Sans';
    src: url("../../media/PremierInnSansWeb-Regular.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: 'PremierInn_Sans';
}

nav {
    background-color: #511e62;
}

nav span {
    float: right;
    font-size: 2rem;
    color: white;
}
