// Imports
@import "partials/variables";

// Project-specific styles
body {
    font-family: $pi-font;
}

.nav-group {
    a.project-nav, a.project-nav:link, a.project-nav:hover {
        color: $pi-white;
        text-decoration: none;
        text-align: center;
        background-color: $pi-purple-light;
        font-size: 2.85rem;
    }

    nav {
        background-color: $pi-purple;

        img {
            width: auto;
            height: 50px;
        }

        h1 {
            float: right;
            font-size: 2rem;
            color: $pi-white;
            margin: 0;
        }

        h5 {
            color: $pi-white;
            margin: 0;
        }
    }
}

.pi-underlined {
    color: $pi-purple-dark;
    font-weight: bold;
    font-size: 1.438rem;
    line-height: 1.75rem;
    padding-bottom: 8px;
    border-bottom: 1px solid $pi-grey;
}

.squeeze {
    padding: 0 20px;
}

section {
    padding: 20px;

    h2 {
        color: $pi-purple-dark;
        font-weight: bold;
        font-size: 1.438rem;
        line-height: 1.75rem;
        cursor: pointer;

        &.push-up {
            margin-top: 2rem;
            margin-right: 0;
            margin-left: 0;
        }

        &.expanded {
            &::before {
                content: '▼';
                font-size: 85%;
            }
        }

        &.collapsed {
            border-bottom: 1px solid $border;
            padding-bottom: 8px;

            &::before {
                content: '►';
                font-size: 85%;
            }
        }
    }

    label {
        margin: 0;
    }

    .feature-status, .scenarios-status {
        padding: 0 10px;
        border-radius: 6px;
    }
}

section {
    .chart {
        border-radius: 50%;
        width: 50%;
        height: 0;
        padding-top: 50%;
        padding-right: 20px;
        margin: 0 auto;
    }

    .pie-chart-keys {
        .key {
            float: left;
            list-style: none;
            display: table;
            border-collapse: separate;

            > li {
                display: table-row;

                > * {
                    display: table-cell;
                    border-bottom: 12px solid $pi-white;
                }
            }
        }

        .percent {
            color: $pi-white;
            padding: 10px;
            text-shadow: 0 0 1px $pi-black;
            text-align: center;
        }

        .choice {
            padding-left: 10px;
        }

        .green {
            background-color: $statsColorGreen;
        }

        .red {
            background-color: $statsColorRed;
        }

        .yellow {
            background-color: $statsColorYellow;
        }
    }
}

@media screen and (min-width: 320px) {
    .nav-group {
        display: block;

        .project-nav {
            display: none;
        }
    }
}

@media screen and (min-width: 992px) {
    .nav-group {
        display: flex;

        .project-nav {
            width: 50px;
            display: block;
        }

        nav {
            flex: 1;
        }
    }

    .fixed-tablecell-width {
        width: 35%;
    }
}

@media screen and (min-width: 920px) and (max-width: 1688px) {
    section {
        .chart {
            width: 190px;
            padding-top: 190px;
        }
    }
}
