@media screen and (min-width: 320px) {
    .nav-group {
        display: block;

        .project-nav {
            display: none;
        }
    }
}

@media screen and (min-width: 992px) {
    .nav-group {
        display: flex;

        .project-nav {
            width: 50px;
            display: block;
        }

        nav {
            flex: 1;
        }
    }

    .fixed-tablecell-width {
        width: 35%;
    }
}

@media screen and (min-width: 920px) and (max-width: 1688px) {
    section {
        .chart {
            width: 190px;
            padding-top: 190px;
        }
    }
}
