// Fonts
@font-face {
    font-family: 'PremierInn_Sans';
    src: url("../../media/PremierInnSansWeb-Regular.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
}

$pi-font: "PremierInn_Sans";

// Colours
$pi-purple: #511e62;
$pi-purple-dark: #511e62;
$pi-white: #ffffff;
$pi-black: #000000;
$pi-grey: #dddddd;
$border: #dee2e6;

// Pie Chart Colours
$statsColorGreen: #60BD68;
$statsColorRed: #F15854;
$statsColorYellow: #B2912F;
